<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/materialize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/green_and_care.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content light-green lighten-3">
    <li><a href="#!" class="grey-text text-darken-4">Catégorie 1</a></li>
    <li><a href="#!" class="grey-text text-darken-4">Catégorie 2</a></li>
    <li><a href="#!" class="grey-text text-darken-4">Catégorie 3</a></li>
</ul>
<nav>
    <div class="nav-wrapper light-green lighten-3">
        <a href="#!" class="{{ path('home') }} grey-text text-darken-4">Green & Care</a>
        {% if app.user %}
            <a href="{{path("logout")}}">Déconnexion</a>
        {% else %}
            <a href="{{path("login")}}">Connexion</a>
            <a href="{{path("inscription")}}">Inscription</a>
        {% endif %}
        <ul class="right hide-on-med-and-down">
            <li><a href="#!" class="grey-text text-darken-4">QUI SOMMES-NOUS ?</a></li>
            <li><a href="#!" class="grey-text text-darken-4">CONSEILS</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-trigger grey-text text-darken-4" href="#!" data-target="dropdown1">BOUTIQUE<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
    </div>
</nav>
<img src="img/téléchargement(1).jfif" alt="background_img" class="responsive-img" id="background_img">

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="{{ asset('js/materialize.js')}}"></script>
<script src="{{ asset('js/green_and_care.js')}}"></script>
</body>
</html>
