{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
    <div class="col-12">
<div class="p-3">
    <h1>Votre panier</h1>
</div>
    </div>

    <div class="container">
    {% if items | length > 0  %}
<table class="table bg-light">
    <thead>
        <tr>
            <th>Nom du produit</th>
            <th>Prix</th>
            <th>Quantité(s)</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>{{ item.product.title }}</td>
            <td>{{ item.product.price }}€</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price * item.quantity }} €</td>
            <td>
                <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"></td>
            <td><b>Prix Total TTC</b></td>
            <td>{{ total }} €</td>
            <td></td>
        </tr>
    </tfoot>
</table>
{%else%}
<p>Surprise, c'est vide !</p>
{%endif %}
    </div>
{% endblock %}