{% extends 'base.html.twig' %}

{% block title 'Produits entretien, cosmétiques, bien-être écologique | Green And Care' %}

{% block body %}
    <div class="jumbotron-fluid">
        <img src="{{ asset('assets/img/background.jpg') }}" class="img-fluid" alt="background img">
    </div>
    <div class="container">
        <h1 class="mt-4">Nos nouveautés</h1>
        <div class="row row-cols-1 row-cols-md-4">
            {% for product in products %}
                <div class="col mb-4">
                    <div class="card h-100" id="productScale">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ product.title }}
                            </h5>
                            {% if product.filename %}
                                <img src="/assets/front/img/products/{{ product.filename }}" class="card-img">
                            {% else %}
                                <img src="{{ asset('assets/products/fuk.jpg') }}" class="card-img">
                            {% endif %}
                            <p class="card-text">{{ product.shortDescription }}</p>
                            <p class="card-text">{{ product.formattedPrice }} €</p>
                            <a href="{{ path('product.show', {id: product.id, slug: product.slug}) }}"
                               class="btn btn-light stretched-link">Détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}